{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">How are you going to improve today?</h1>
    <div class="row">
        {% for quote in quotes %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <p class="card-text">"{{ quote['text'] }}"</p>
                    <a href="{{ url_for('edit_quote', id=quote['id']) }}" class="btn btn-sm btn-outline-primary">Edit</a>
                    <form action="{{ url_for('delete_quote', id=quote['id']) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center">
        <a href="{{ url_for('refresh_quotes') }}" class="btn btn-primary mr-2">Refresh Quotes</a>
        <a href="{{ url_for('add_quote') }}" class="btn btn-success mr-2">Add a New Quote</a>
        <a href="{{ url_for('upload_csv') }}" class="btn btn-info">Upload Quotes from CSV</a>
    </div>
</div>
{% endblock %}